@font-face {
    font-family: "Inter";
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    --background: #14181c;
    --text: #AABBCC;
    --button: #00bb1f;
    --head: white;
    --buttonhover: #009c1a;
    --line: #456;
    --bg: #9ab;
    --inpbg: #cde;

    font-family: "Inter";
    background-color: var(--background);
    margin: 0;
    padding: 0;
    color: var(--text);

    background-image: url(images/content-bg.png);
    background-position: -1px 74px;
    background-repeat: repeat-x;
    min-width: 370px;
}

header {
    width: min(950px, 70vw);
    padding: 15px 15px;
    margin: 0 auto;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: var(--head);
}

.logo {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1.5px;
    margin-right: 20px;
}

.button > img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.button {
    background-color: var(--button);
    display: flex;
    border-radius: 3px;
    color: var(--head);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    padding: 3px 8px;
    height: min-content;
}

.button:hover {
    background-color: var(--buttonhover);
}

.shelf {
    margin: 80px auto;
    width: min(950px, 70vw);
    min-width: 340px;
}

.title {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 3px;
    border-bottom: 0.5px solid var(--line);
    margin-bottom: 10px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(172px, 1fr));
    grid-template-rows: auto;
    gap: 15px;
}

.card {
    border-radius: 4px;
    background-color: var(--line);
    aspect-ratio: 1 / 1.3;
}

.log {
    order: 10000;
    display: flex;
    justify-content: center;
    background-color: var(--text);
}

.log:hover {
    background-color: var(--button);
}

.log > img {
    height: 80px;
    width: 80px;
    align-self: center;
}

::backdrop {
    background-color: var(--background);
    opacity: 0.9;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

/* dialog styles */

dialog {
    background-color: var(--line);
    border: none;
    border-radius: 4px;
    color: var(--text);
    padding: 30px 40px;
}

#formhead {
    display: flex;
    justify-content: space-between;
}

.closeD {
    background-color: inherit;
    color: inherit;
    font-size: inherit;
}

.closeD:hover {
    color: var(--head);
}

form > div {
    padding-bottom: 20px;
    color: var(--text);
}

input[type="checkbox"] {
    background-color: var(--inpbg);
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: none;
    color: #567;
    appearance: none;
    margin: 0;
    padding: 0px;
}

input {
    background-color: var(--inpbg);
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    width: 80%;

}

input[type="text"]:focus,
input[type="tel"]:focus {
    box-shadow: 0 0 5px #012;
    background-color: var(--head);
}

input[type="checkbox"]:hover {
    background-color: var(--head);
}

input[type="checkbox"]:checked {
    content: url(icons/checkmark-svg-svg.svg);
}

form > button {
    font-weight: 700;
    color: var(--head);
    background-color: var(--button);
    font-size: 14px;
    border: none;
    border-radius: 3px;
    padding: 4px 8px;
    bottom: 30px;
    right: 40px;
    position: absolute;
}

form > button:hover {
    background-color: var(--buttonhover);
}

label {
    display: block;
    padding-bottom: 5px;
    color: var(--head);
}

#checkdiv {
    display: flex;
    gap: 10px;
}

form {
    min-width: 370px;
    width: min(400px, 30vw);
}


/* card data styles */

.data {
    padding: 15px;
    color: var(--head);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.cardTitle {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--text);
    margin-bottom: 15px;
    font-size: 1rem;
}

.cardAuthor, .cardTitle, .cardPages {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cardAuthor {
    padding-bottom: 10px;
}

.readTog, .delBook {
    border: 1px solid var(--head);
    border-radius: 4px;
    padding: 10% 5px;
    background: none;
    color: var(--head);
    font-size: 18px;
}

.btns {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-self: end;
}

.readTog {
    border-color: var(--button);
    color: var(--button);
    background-color: inherit;
}

.true {
    background-color: var(--button);
    color: var(--head);
}

.delBook {
    background-color: rgb(255, 145, 0);
    border-color: rgb(255, 145, 0);
}

.delBook:hover {
    background-color: rgb(255, 51, 0);
    border-color: rgb(255, 51, 0);
}

@media only screen and (max-width: 513px) {
    .data {
        font-size: 1.5rem;
    }
    .cardTitle {
        font-size: 2rem;
    }
  }